@charset "UTF-8";

body {

  font-weight: 400;
  font-size: 24px;
  background: #42bd41;
    background-image: url("../images/mountain.jpg");
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
  background-attachment: fixed;
  min-height: 100%
  -webkit-text-size-adjust: none;
    overflow-x: hidden;
 
}

.title{
font-family: 'Vollkorn', serif;
  text-align: center;
  font-size: 50px;
  margin-top: 70px;
}

.description{
    font-family: 'Roboto Slab', sans-serif; 
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  max-width: 700px;
  margin-left: 320px;
}

#menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  display: block;
  width: 50px;
  height: 50px;
  background: #111;
  border-radius: 5px;
  z-index: 200;
}
#menu-button:after {
  position: absolute;
  content: "☰";
  font-size: 42px;
  color: #FFF;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
#menu-button:hover {
  opacity: .8;
}

#menu-button.on:after {
  content: "x";
}

#overlay {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  right: 0;
  left: 0;
}

#overlay.open {
  display: block;
}

#hamburger-menu {
  height: 0;
  width: 0;
  background: #111;
  position: fixed;
  top: 20px;
  left: 90px;
  z-index: 101;
  overflow: hidden;
  border-radius: 5px;
}
#hamburger-menu nav {
  padding: 10px;
  z-index: 101;
  overflow-y: hidden;
  overflow-x: hidden;
}
#hamburger-menu nav a {
  display: block;
  padding: 10px;
  height: 2em;
  color: #CCC;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  overflow: hidden;
}
#hamburger-menu nav a:hover {
  cursor: pointer;
  color: #FFF;
  background: rgba(255, 255, 255, 0.02);
}

.links{
  margin-bottom: 10px;
}